@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
	3.4 Main Nav
	3.5 Hamburger
4. Menu
5. Home
6. About
7. Mission
8. Team
9. Quote
10. Footer



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700,800|Old+Standard+TT:400i');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Assistant', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Assistant', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	font-weight: 400;
	color: #7c7c7c;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 160px;
	height: 46px;
	text-align: center;
	background: #b10707;
	border-radius: 3px;
}
.button a
{
	display: block;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 46px;
	text-transform: uppercase;
	font-weight: 700;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	top: -40px;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
}
.header.scrolled .top_bar
{

}
.top_bar_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.top_bar_container
{
	width: 100%;
	height: 100%;
}
.top_bar_content
{
	width: 100%;
	height: 40px;
}
.top_bar_contact_list li
{
	display: inline-block;
}
.top_bar_contact_list li i,
.top_bar_contact_list li > div
{
	display: inline-block;
	font-size: 12px;
	color: #FFFFFF;
}
.top_bar_contact_list li > div
{
	margin-left: 5px;
}
.top_bar_contact_list li:not(:last-child)
{
	margin-right: 21px;
}
.social_list
{
	margin-right: -10px;
}
.social_list li
{
	display: inline-block;
}
.social_list li:not(:last-child)
{
	margin-right: 6px;
}
.social_list li a i
{
	font-size: 12px;
	color: #FFFFFF;
	padding: 10px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_list li:hover a i
{
	color: #b10707;
}

/*********************************
3.2 Header Content
*********************************/

.header_container
{
	width: 100%;
	background: #FFFFFF;
}
.header_content
{
	height: 120px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .header_content
{
	height: 80px;
}

/*********************************
3.3 Logo
*********************************/

.logo,
.logo_text
{
	display: inline-block;
}
.logo
{
	width: 60px;
	height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.logo img
{
	max-width: 100%;
}
.logo_text
{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.75;
	color: #181818;
	vertical-align: middle;
	margin-left: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .logo
{
	width: 40px;
	height: 40px;
}
.header.scrolled .logo_text
{
	font-size: 24px;
}

/*********************************
3.4 Main Nav
*********************************/

.main_nav_contaner
{

}
.main_nav,
.search_button
{
	display: inline-block;
}
.main_nav li
{
	display: inline-block;
}
.main_nav li:not(:last-child)
{
	margin-right: 60px;
}
.main_nav li a
{
	font-size: 16px;
	font-weight: 600;
	color: #181818;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav li a:hover,
.main_nav li.active a
{
	color: #b10707;
}
.search_button
{
	margin-left: 46px;
	cursor: pointer;
}
.search_button i
{
	font-size: 16px;
	color: #181818;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_button:hover i
{
	color: #b10707;
}
.header_search_form
{
	display: block;
	position: relative;
	width: 40%;
}
.header_search_container
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #b10707;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header_search_container.active
{
	bottom: -73px;
	opacity: 1;
}
.header_search_content
{
	width: 100%;
	height: 73px;
}
.search_input
{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 20px;
}
.header_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
}

/*********************************
3.5 Hamburger
*********************************/

.hamburger
{
	display: none;
	cursor: pointer;
	margin-right: 10px
}
.hamburger i
{
	font-size: 20px;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #eb4141;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.98);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_search_form
{
	display: block;
	position: relative;
	margin-top: 50px;
}
.menu_search_input
{
	width: 400px;
	height: 40px;
	background: #c0c0c0;
	border: none;
	border-radius: 3px;
	outline: none;
	padding-left: 20px;
}
.menu_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #c0c0c0;
}
.menu_nav
{
	margin-top: 50px;
	text-align: center;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 6px;
}
.menu_nav ul li a
{
	font-size: 18px;
	font-weight: 700;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #eb4141;
}
.menu_close
{
	position: absolute;
	top: 100px;
	right: 100px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 20px;
}
.menu_close:hover i
{
	color: #eb4141;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 310px;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content
{
	position: absolute;
	bottom: 66px;
	left: 0;
	width: 100%;
	z-index: 10;
}
.home_title
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 0.75;
}
.breadcrumbs ul li
{
	display: inline-block;
	position: relative;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}
.breadcrumbs ul li a
{
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
	color: #b10707;
}
.breadcrumbs ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	margin-left: 4px;
}

/*********************************
6. About
*********************************/

.about
{
	padding-top: 89px;
	padding-bottom: 100px;
	background: #FFFFFF;
}
.section_title_container
{
	
}
.section_title
{
	font-size: 36px;
	font-weight: 700;
	line-height: 1.185;
	color: #181818;
	text-transform: uppercase;
}
.section_subtitle
{
	font-family: 'Old Standard TT', serif;
	font-size: 16px;
	color: #7c7c7c;
	font-style: italic;
	margin-top: 5px;
}
.about_row
{
	margin-top: 52px;
}
.about_image
{
	width: 100%;
}
.about_image img
{
	max-width: 100%
}
.about_content
{
	padding-left: 30px;
	padding-top: 11px;
}
.about_button
{
	margin-top: 31px;
}

/*********************************
7. Mission
*********************************/

.mission
{
	padding-top: 97px;
	padding-bottom: 94px;
	background: transparent;
}
.mission_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.mission_item
{
	display: inline-block;
	width: 25%;
	padding-left: 70px;
	padding-right: 70px;
}
.mission_icon i
{
	font-size: 36px;
	color: #b10707;
}
.mission_title
{
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 7px;
}
.mission_text
{
	color: #FFFFFF;
	margin-top: 17px;
}
.mission_item:not(:last-child)::after
{
	display: block;
	position: absolute;
	top: 30px;
	right: 0;
	width: 1px;
	height: calc(100% - 30px);
	background: rgba(235,235,235,0.2);
	content: '';
	z-index: 10;
}

/*********************************
8. Team
*********************************/

.team
{
	padding-top: 97px;
	padding-bottom: 34px;
	background: #FFFFFF;
}
.team_row
{
	margin-top: 52px;
}
.team_col
{
	margin-bottom: 30px;
}
.team_item
{
	width: 100%;
	padding-bottom: 30px;
}
.team_image
{
	width: 100%;
}
.team_image img
{
	max-width: 100%;
}
.team_name
{
	font-size: 20px;
	color: #181818;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 29px;
}
.team_title
{
	font-family: 'Old Standard TT', serif;
	font-size: 16px;
	font-style: italic;
	color: #b10707;
	margin-top: 4px;
}
.team_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(177,7,7,0.5);
	color: #FFFFFF;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 44px;
	visibility: hidden;
	opacity: 0;
}
.team_item:hover .team_overlay
{
	visibility: visible;
	opacity: 1;
}
.team_overlay_text p
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.57;
}
.team_overlay_contact
{
	margin-top: 15px;
}
.team_overlay_contact ul li i,
.team_overlay_contact ul li div
{
	display: inline-block;
}
.team_overlay_contact ul li div
{
	font-size: 14px;
	color: #FFFFFF;
}

/*********************************
9. Quote
*********************************/

.quote
{
	width: 100%;
	background: #f7f7f7;
	padding-top: 100px;
	padding-bottom: 99px;
}
.quote_container
{
	max-width: 830px;
	margin-left: auto;
	margin-right: auto;
}
.quote_icon
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 0;
}
.quote_quote
{
	font-family: 'Old Standard TT', serif;
	font-size: 26px;
	color: #181818;
	z-index: 10;
	line-height: 1.4;
}
.quote_source
{
	font-family: 'Assistant', sans-serif;
	font-size: 18px;
	color: #b10707;
	font-weight: 600;
	margin-top: 13px;
}

/*********************************
10. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
}
.footer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.footer_contact_column
{
	padding-top: 54px;
}
.footer_logo,
.footer_logo_text
{
	display: inline-block;
}
.footer_logo
{
	width: 60px;
	height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_logo img
{
	max-width: 100%;
}
.footer_logo_text
{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.75;
	color: #FFFFFF;
	vertical-align: middle;
	margin-left: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_contact
{
	margin-top: 33px;
}
.footer_contact ul li:not(:last-child)
{
	margin-bottom: 7px;
}
.footer_contact ul li div
{
	display: inline-block;
	width: 14px;
	height: 14px;
}
.footer_contact ul li div i
{
	color: #b10707;
}
.footer_contact ul li span
{
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 7px;
}
.footer_links
{
	padding-top: 70px;
	padding-left: 70px;
	padding-right: 70px;
}
.footer_title
{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 0.75;
	font-weight: 600;
	text-transform: uppercase;
}
.footer_links_list
{
	columns: 2;
	-webkit-columns: 2;
  	-moz-columns: 2;
  	margin-top: 32px;
}
.footer_links_list li
{
	margin-bottom: 11px;
}
.footer_links_list li a
{
	font-size: 14px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links_list li a:hover
{
	color: #b10707;
}
.footer_links_list li a i
{
	color: #b10707 !important;
}
.footer_subscribe
{
	padding-top: 70px;
}
.footer_text
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.71;
	margin-top: 32px;
}
.footer_form_container
{
	margin-top: 30px;
}
.subscribe_input
{
	width: 100%;
	height: 40px;
	border: solid 1px rgba(235,235,235,0.15);
	border-radius: 3px;
	background: transparent;
	padding-left: 22px;
	outline: none;
	color: #FFFFFF;
}
.subscribe_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
} 
.subscribe_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #c0c0c0 !important;
}
.subscribe_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 40px;
	background: #FFFFFF;
	border: none;
	outline: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 12px;
	color: #b10707;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.subscribe_button:hover
{
	background: #b10707;
	color: #FFFFFF;
}
.copyright_row
{
	margin-top: 58px;
}
.copyright_container
{
	width: 100%;
	height: 68px;
	border-top: solid 1px rgba(235,235,235,0.15);
}
.footer_social ul
{
	margin-right: -10px;
}
.footer_social ul li
{
	display: inline-block;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 8px;
}
.footer_social ul li a i
{
	font-size: 15px;
	padding: 10px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #b10707;
}